/*
  font-family: "Open Sans", sans-serif;
  font-family: "PT Serif", serif;
*/


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* Reset básico para estandarizar estilos en todos los navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body, html {
    font-family: 'PT Serif', serif;
    line-height: 1.6;
    color: #333;
    overflow-x: hidden;
    scroll-behavior: smooth; /* Hace que el scroll entre secciones sea suave */
}

a {
    color: #007bff;
    text-decoration: none;
}

.navbar a {
    color: white;
    padding: 0 15px;
}

/* Dropdown Menu */
.dropdown-content {
    background-color: #f9f9f9;
    color: black;
    display: none; /* Hide dropdown by default */
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
}

.dropdown:hover .dropdown-content {
    display: block; /* Show dropdown on hover */
}

/* Main Content Styles for Videojuegos */
.videojuegos-contenido1, .videojuegos-contenido3 {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.videojuegos-contenido2, .videojuegos-contenido4 {
    background-color: #ffdd00; /* Yellow background for specific sections */
    display: flex;
    flex-direction: row-reverse; /* Image on the right */
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.imagen-videojuego {
    width: 45%; /* Control image width */
    height: auto; /* Maintain aspect ratio */
}

.texto-videojuego {
    width: 50%; /* Text width for wrapping */
}

/* Button Styles */
.btn-videojuego {
    display: inline-block;
    background-color: transparent;
    color: grey;
    border: 2px solid grey;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
}

.btn-videojuego2 {
    display: inline-block;
    background-color: #000;
    color: yellow;
    border: 2px solid rgb(0, 0, 0);
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
}

.btn-videojuego:hover {
    background-color: grey;
    color: white;
}

.btn-videojuego2:hover {
    background-color: yellow;
    color: black;
}

/* Footer Styles */
.footer {
    text-align: center;
    padding: 20px 10px;
}

.footer img {
    width: 50px; /* Example size, adjust as needed */
    height: auto;
}

.footer a {
    color: rgb(255, 255, 255);
    padding: 0 10px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .header- .menu, .footer .container, .videojuegos-contenido1, .videojuegos-contenido2, .videojuegos-contenido3, .videojuegos-contenido4 {
        flex-direction: column;
        text-align: center;
    }

    .navbar a, .footer a {
        padding: 10px 0;
    }

    .imagen-videojuego, .texto-videojuego {
        width: 100%;
    }

    .btn-videojuego {
        width: 100%;
        padding: 12px 0;
    }
}


img {
    max-width: 100%;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}


.header {
    background-image: url(FotosPagina/b1.gif);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0;
    position: relative;
    z-index: 10;
}
.header-fanart {
    position: relative; /* Necesario para aplicar z-index */
    z-index: 10; /* Mayor que el z-index de cualquier otro elemento en la misma stacking context */
    background: #fff; /* o cualquier otro estilo que necesites para tu header */
}

.header .fanarts {
    background-image: url(FotosPagina/b1.gif);
}


.navbar-container {
    background-color: #ffffff;
    width: 100%;
    position: absolute;
    top: 0;
}


.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.menu img {
    height: 50px;
}


.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


.menu ul li {
    position: relative;
    float: left;
}


.menu ul li a {
    font-size: 14px;
    padding: 20px;
    color: rgb(0, 0, 0);
    display: block;
    font-weight: 600;
    text-decoration: none;
    position: relative;
}


.menu ul li a:hover {
    border-bottom: 2px solid #000;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.dropdown-content ul li {
    padding: 10px;
    text-align: left;
}


.dropdown:hover .dropdown-content {
    display: block;
}


/* Estilos del contenido del encabezado */
.header-content {
    text-align: center;
    height: 50%;
}


.header-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.header-txt h1 {
    font-size: 85px;
    line-height: 1;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}


.header-txt p {
    font-size: 17px;
    color: rgb(255, 255, 255);
    margin-bottom: 35px;
}


.btn-container {
    text-align: center;
}


.btn-1 {
    padding: 11px 35px;
    border: 2px solid #ffffff;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}


.btn-container .btn-1:hover {
    background-color: #928e8e;
    color: #ffffff;
}

@media only screen and (max-width: 768px) {
    .header {
        min-height: 50vh;
        padding: 60px 0;
    }

    .menu img {
        height: auto;
        max-width: 100%;
    }

    .menu ul li a {
        padding: 10px;
    }

    .header-txt h1 {
        font-size: 48px;
    }

    .header-txt p {
        font-size: 14px;
    }

    .btn-1 {
        padding: 8px 20px;
        font-size: 14px;
    }
}



.about {
    padding: 100px 0;
    background-color: #ffffff;


}


.about-content{
display: flex;
align-items: center;
}


.about-txt p {
    margin-bottom: 20px; /* Agrega un margen inferior de 20px entre los párrafos */
}


.about-txt {
    align-items: right;
    flex-basis:50% ;
    padding-left: 35px;
    text-align: justify;
}




.btn-2 {
    padding: 11px 35px;
    border: 2px solid #928e8e;
    color: #928e8e;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}
.btn-container .btn-2:hover{
    background-color: #928e8e;
    color: #ffffff;
}


.about-img {
    flex-basis: 50%;
}


.about-img {
    border-radius: 15px;
}


.separador {
    background-color: #ffdd00; /* Fondo amarillo */
    text-align: center; /* Centra el contenido */
    padding: 50px 0; /* Añade un espacio interno */
}


.separador img {
    max-width: 100%; /* Ajusta el tamaño máximo de la imagen */
    height: auto; /* Mantiene la relación de aspecto */
}


.tutoriales-trucos {
    padding: 100px 0;
    background-color: #ffffff;
}


.tutoriales-trucos h2 {
    font-size: 55px;
    text-align: center;
}


.Tutoriales-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.Tutoriales-content p {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    max-width: 900px; /* Ancho máximo del texto */
    margin-left: auto; /* Centra el texto horizontalmente */
    margin-right: auto;
   
}


.tutorial-1,
.tutorial-2,
.tutorial-3 {
    flex-basis: calc(33.33% - 40px);
    margin: 0 20px;
    text-align: center;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


/* Agregar filtro de blanco y negro a las imágenes */
.tutorial-1 img.face,
.tutorial-2 img.face,
.tutorial-3 img.face {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    filter: grayscale(100%); /* Imagen en blanco y negro */
    transition: filter 0.8s ease; /* Agregar transición para suavizar el efecto */
}


/* Al pasar el cursor sobre la imagen, eliminar el filtro de blanco y negro */
.tutorial-1 img.face:hover,
.tutorial-2 img.face:hover,
.tutorial-3 img.face:hover {
    filter: grayscale(0%); /* Imagen a color */
}


/* Estilos adicionales de texto y botones */
.tutorial-txt h4,
.tutorial-2 > div h4,
.tutorial-3 > div h4 {
    font-size: 24px;
    margin-bottom: 15px;
}


.tutorial-txt p,
.tutorial-2 > div p,
.tutorial-3 > div p {
    font-size: 18px;
    margin-bottom: 15px;
}


.btn-container {
    text-align: center;
    margin-top: 25px;
}


.btn-container .btn-3,
.btn-container .btn-4,
.btn-container .btn-5 {
    padding: 11px 35px;
    border: 2px solid #928e8e;
    color: #a39999;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}


.btn-container .btn-3:hover,
.btn-container .btn-4:hover,
.btn-container .btn-5:hover {
    background-color: #928e8e;
    color: #ffffff;
}


.fanarts {
    padding: 100px 0;
    background-color: yellow;
}


.fanarts-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribuir los elementos en dos columnas */
}


.fanart-info {
    flex-basis: 35%; /* Tamaño de la parte de texto */
    padding-right: 20px;
}


.fanart-info h2 {
    color: black;
    font-size: 55px;
    margin-bottom: 20px;
}


.fanart-info p {
    color: black;
    margin-bottom: 20px;
}


.btn-container {
    margin-bottom: 20px;
}


.btn-6 {
    padding: 10px 20px;
    border: 2px solid black;
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}


.btn-6:hover {
    background-color: black;
    color: white;
}


.images-content {
    flex-basis: 65%; /* Tamaño de la parte de imágenes */
    display: flex;
    flex-wrap: wrap;
    overflow: hidden; /* Ocultar cualquier desbordamiento de las imágenes */
}


.fanart {
    position: relative;
    width: calc(50% - 10px); /* Ajustar el ancho para dos columnas y agregar espacio */
    margin-right: 5px; /* Espacio entre las imágenes */
    margin-bottom: 20px; /* Espacio inferior entre las imágenes */
    border-radius: 15px; /* Bordes más redondeados */
    overflow: hidden; /* Evitar que las imágenes se desborden */
}


.art {
    width: 100%;
    height: 100%; /* Permitir que la altura se ajuste automáticamente */
    object-fit: cover;
    border-radius: 10px; /* Bordes más redondeados */
    transition: transform 0.3s; /* Transición suave del efecto de zoom */
}


.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    transition: opacity 0.3s;
    opacity: 0;
}


.fanart:hover .overlay {
    opacity: 1;
}


.fanart:hover .art {
    transform: scale(1.1); /* Hacer zoom dentro de la imagen */
}


.reseñas {
    background-color: white;
    padding: 100px 0;
}


.reseñas h2 {
    text-align: center;
    font-size: 55px;
    margin-bottom: 40px;
}


.reseñas-content {
    display: flex;
    justify-content: space-between;
}


.reseña-1 {
    flex-basis: 30%;
    text-align: center;
    margin-bottom: 40px;
    
}

.reseña-1 p{
    text-align: justify;
}


.reseña-1 img {
    border-radius: 50%; /* Marco redondo */
    width: 150px; /* Ajustar el tamaño de la imagen */
    height: 150px;
    margin-bottom: 20px;
    transition: transform 0.8s ease;
}
.reseña-1:hover {
    transform: scale(1.1); /* Zoom al pasar el cursor */
}


.reseña-1 p {
    margin-bottom: 20px;
}


.reseña-1 span {
    font-style: italic;
    color: #888;
}


.fanart-button {
    text-align: center;
}


.btn-7 {
    padding: 10px 20px;
    border: 2px solid yellow; /* Botón de color amarillo */
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}


.btn-7:hover {
    background-color: yellow;
    color: rgb(0, 0, 0);
}


.contact {
    padding: 100px 0 80px; /* Reducir el padding inferior */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.contact-content {
    display: flex;
    justify-content: center; /* Centrar los elementos horizontalmente */
}


.left-column,
.right-column {
    flex-basis: 50%;
}


.right-column p {
    color: #fff;
    text-align: center;
    margin-top: 20px; /* Añadir espacio superior */
    line-height: 1.6; /* Ajustar el interlineado */
    padding: 0 150px; /* Reducir el padding horizontal */
}


.contact-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}


.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


.contact-form textarea {
    resize: none;
}


.contact-form button {
    padding: 10px 20px;
    border: none;
    background-color: #f8c242;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}


.contact-form button:hover {
    background-color: #f3b800;
}


.contact h2 {
    color: #fff;
    text-align: center;
}


.contact p {
    color: #fff;
    text-align: center;
    margin-top: 20px; /* Añadir espacio superior */
    line-height: 1.6; /* Ajustar el interlineado */
}


.footer {
    padding: 50px 0;
}


.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Alinear elementos en la parte superior */
}




.footer-content .left-column img {
    width: 200px; /* Ajustar el tamaño del logo */
}


.footer-content .center-column {
    text-align: center;
}


.footer-content .center-column a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 5px;
}


.footer-content .center-column a:hover {
    text-decoration: underline;
}


.footer-content .right-column {
    text-align: center; /* Alineación del texto a la izquierda */
   
}


.footer-content .right-column ul {
    list-style: none;
    padding: 0;
}


.footer-content .right-column ul li {
    margin-bottom: 10px;
}


.footer-content .right-column ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}


.footer-content .right-column ul li a:hover {
    text-decoration: underline;
}


.comunidad-content {
    text-align: center;
    padding: 50px 0;
}

.btn-comunidad {
    background-color: #ffdd00; /* Amarillo */
    color: #000; /* Negro */
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-comunidad:hover {
    background-color: #f1ca00; /* Un tono más oscuro de amarillo */
}

/* Se ajusta al archivo style.css existente */
.fanarts-gallery {
    flex: 2; /* Ocupa el doble de espacio que el texto, ajusta según necesidad */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Alinea las imágenes al inicio del contenedor */
    gap: 20px; /* Espacio entre las imágenes */
}

.fanart-item {
    width: 30%; /* Ajusta este valor según necesites */
    overflow: hidden;
    position: relative;
    height: 1000px; /* Ajusta la altura según tus necesidades */
}
.fanart-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra completamente el contenedor sin perder sus proporciones */
    transition: transform 0.5s ease; /* Opcional: añade una transición suave para el efecto de zoom */
}

.fanart-item:hover img {
    transform: scale(1.1); /* Opcional: efecto de zoom al pasar el mouse sobre la imagen */
}

.banner-fanarts {
    display: flex;
    align-items: right;
    justify-content: space-around;
    height: 900px;
    width: auto;
    padding: 50px 20px;
    background-image: url('FotosPagina/22b22287602523.5dbd29081561d.gif');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: left; /* Alinea el texto a la izquierda */
}

.banner-fanarts::before {
    content: ""; /* Necesario para generar el pseudo-elemento */
    position: absolute; /* Posiciona absolutamente dentro de .banner-fanarts */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 60px;
    width: auto;
    height: 840px;
    background: rgba(0, 0, 0, 0.5); /* Color negro con 50% de opacidad */
    z-index: 1; /* Asegura que el pseudo-elemento se sitúe sobre el fondo y debajo del contenido */
}

.fanarts-text {
    max-width: 40%;
    color: #000; /* Ajusta el ancho del contenedor de texto */
}
.fanarts-text h1 {
    margin-bottom: 20px;
    font-size: 60px;
    font-style: italic;
    padding: 5%;
}
.fanarts-text p {
    margin-bottom: 20px;
    text-align: justify;
    font-size: 18px;
    padding-right: 5%;
}
/* Estilos para el botón Explorar */
.btn-explore {
    display: block; /* Hace que el botón ocupe su propia línea */
    width: 80px;
    margin-top: 20px; /* Espacio por encima del botón */
    background-color: #0e0844; /* Ajusta el color de fondo según tu diseño */
    color: #ffffff; /* Ajusta el color del texto según tu diseño */
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}
.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Asegura alineación vertical al centro */
    justify-content: center; /* Espacio entre el texto y la galería */
    padding: 20px;
    color: #FFF;
    text-align: center;
    position: relative; /* Asegura que el contenido esté por encima del pseudo-elemento */
    z-index: 2; /* Mayor que el z-index del ::before para mantener el contenido accesible */
    padding: 40px 20px;
    display: flex;
    height: 100vh;
}
.fanarts-intro {
    flex: 1; /* Ocupa el espacio necesario, ajusta según necesidad */
    padding-right: 20px; /* Añade un poco de espacio entre el texto y las imágenes */
}
.videojuegos-banner {
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    background-image: url('FotosPagina/csgololr6.png');
    background-size: cover;
    background-position: center;
    color: #FFFFFF; /* Asegúrate de que este color contraste bien con tu imagen de fondo */
    height: 600px; /* Ajusta según la altura deseada */
}

.videojuegos-banner h1 {
    font-size: 80px; /* Ajusta según necesites */
    font-weight: bold; /* Opcional: para texto en negrita */
    font-style: italic;
}


.videojuegos-contenido1 .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}
.videojuegos-contenido1 h2 {
    font-size:  36px;
    font-style: italic;
}

.videojuegos-contenido1 p {
    font-size: 18px;
    text-align: justify;
}

.videojuegos-contenido2 .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}
.videojuegos-contenido2 h2 {
    font-size:  36px;
    font-style: italic;
    text-align: left;
}

.videojuegos-contenido2 p {
    font-size: 18px;
    text-align: justify;
}

.videojuegos-contenido3 .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}
.videojuegos-contenido3 h2 {
    font-size:  36px;
    font-style: italic;
    text-align: left;
}

.videojuegos-contenido3 p {
    font-size: 18px;
    text-align: justify;
}

.videojuegos-contenido4 .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}
.videojuegos-contenido4 h2 {
    font-size:  36px;
    font-style: italic;
    text-align: left;
}

.videojuegos-contenido4 p {
    font-size: 18px;
    text-align: justify;
}

.imagen-videojuego {
    width: 300px; /* Ajusta según el tamaño deseado de tu imagen */
    height: 300px; /* Mantén un aspecto cuadrado */
    object-fit: cover;
}

.texto-videojuego {
    flex: 1;
    padding: 0 20px;
}

.btn-videojuego {
    display: inline-block; /* O cualquier estilo de botón que prefieras */
    margin-top: 20px;
    /* Añade más estilos a tu botón aquí */
}

.banner-content h1, .banner-content h2, .banner-content p, .banner-content div {
    margin-bottom: 10px; /* Añade un espacio entre los elementos */
}

.banner-content h2 {
    font-size: 80px;
    font-style: italic;
}
.banner-content h1 {
    font-size: 24px;
}

.banner-content h3 {
    font-size: 48px;
    margin: auto;
}
.banner-content h4{
    font-size: 16px;
    font-weight: 100;
    font-stretch: extra-expanded;
}

.btn-notificar {
    border: 2px solid grey; /* Borde gris */
    background-color: transparent; /* Fondo transparente */
    color: grey; /* Texto gris */
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-out; /* Transición suave para efectos de hover */
}

.btn-notificar:hover {
    background-color: grey; /* Fondo gris al pasar el mouse */
    color: white; /* Texto blanco al pasar el mouse */
}

.closing-banner {
    width: 100%; /* Esto asegura que el banner use todo el ancho disponible */
    overflow: hidden; /* Oculta cualquier parte de la imagen que exceda el tamaño del contenedor */
    display: block; /* Elimina cualquier posible margen o padding extraño */
    background-color: #000;
    height: 400px;
    align-items: center;
    text-align: center;
}

.closing-banner .container {
    width: 100%; /* Asegura que el contenedor interno también use todo el ancho disponible */
    margin: 0 auto; /* Centra el contenedor internamente y asegura que no tenga margen extra */
    display: flex; /* Establece flexbox para distribuir espacio horizontalmente */
    justify-content: space-between; /* Distribuye el espacio equitativamente entre los elementos */
    align-items: center; /* Alinea los elementos verticalmente al centro */
    text-align: center; /* Centra el texto horizontalmente */
    padding: 20px 0; /* Añade algo de padding vertical */
}

.game-entry {
    margin-top: 100px;
    flex-grow: 1; /* Hace que cada entrada de juego crezca equitativamente */
    z-index: 10;
    align-items: center;
    text-align: center;
}

.game-entry h1 {
    font-size: 55px; /* Tamaño grande para los números */
    margin-bottom: 0.5em; /* Espacio entre el número y el subtítulo */
    color: white;
}

.game-entry p {
    font-size: 24px; /* Tamaño adecuado para los subtítulos */
    color: white;
}

.closing-banner::before{
content: ""; /* Necesario para generar el pseudo-elemento */
position: absolute; /* Posiciona absolutamente dentro de .banner-fanarts */
top: 2100px;
left: 0;
right: 0;
bottom: 0;
margin-top: 60px;
width: auto;
height: 400px;
background: rgba(0, 0, 0, 0.5); /* Color negro con 50% de opacidad */
z-index: 1; /* Asegura que el pseudo-elemento se sitúe sobre el fondo y debajo del contenido */
}

/* Estilos Base */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

/* Responsive para tablets */
@media (max-width: 768px) {
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu {
        flex-direction: column;
    }

    .header-content, .about-content, .Tutoriales-content, .fanarts-content, .reseñas-content {
        padding: 20px;
    }
}

/* Responsive para móviles */
@media (max-width: 480px) {
    .navbar-container {
        flex-direction: column;
    }

    .dropdown-content {
        position: static;
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .dropdown:hover .dropdown-content {
        display: flex;
    }

    .btn-container {
        width: 100%;
        text-align: center;
    }

    .about-img, .tutorial-1, .tutorial-2, .tutorial-3 {
        display: none;
    }
}

/* Tutorial Grid Styles */
/* Estilos para el contenedor principal que aloja todas las cajas */
.tutorial-container {
    display: flex;
    flex-direction: column;  /* Organiza las filas de tutoriales verticalmente */
    align-items: center;  /* Centra las filas horizontalmente en el contenedor */
    margin: 120px auto;  /* Añade un margen automático horizontal para centrar el contenedor */
    padding: 20px;
    max-width: auto; /* Ancho máximo del contenedor */
}

.tutorial-container h1{
    font-size: 22px;
    font-style: italic;
}

.tutorial-container p{
    font-size: 16px;
    color: #888;
    margin-left: 10px;
    margin-right: 10px;
}

.tutorial-row {
    display: flex;  /* Usa Flexbox para un layout flexible de las cajas */
    justify-content: space-evenly;  /* Distribuye los elementos uniformemente en la línea horizontal */
    width: 100%;  /* Asegura que la fila use todo el ancho del contenedor */
    margin-bottom: 20px;  /* Espacio entre las filas de tutoriales */
}

.tutorial-box {
    width: 30%;  /* Ajusta este valor para controlar el ancho de cada caja */
    transition: transform 0.3s ease, filter 0.3s ease;  /* Transiciones suaves para efectos visuales */
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra ligera para resaltar las cajas */
    overflow: hidden;  /* Oculta cualquier contenido que se desborde de las cajas */
    border: 2px solid #ccc; /* Borde sólido con un color gris claro */
    border-radius: 30px;
}

.tutorial-box:hover img {
    transform: scale(1.1);  /* Aumenta la imagen un 10% durante el hover */
    filter: grayscale(0);  /* Elimina la escala de grises para mostrar la imagen a color */
}

.tutorial-image {
    width: 100%;  /* Las imágenes cubren completamente el ancho de sus cajas */
    height: auto;
    transition: transform 0.3s ease, filter 0.3s ease;  /* Efectos suaves al cambiar */
    filter: grayscale(100%);  /* Comienza en blanco y negro */
}

.tutorial-text {
    padding: 10px;
    text-align: center;
    font-size: 16px;
    color: #333;
}

/* Estilos Comunes */
.header-, .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

/* Banner Principal */
.community-banner {
    background-image: url('FotosPagina/59671-3840x2160-pixel-art-background-image-desktop-4k.jpg');
    background-size: cover;
    height: 500px;
    color: white;
    text-align: center;
    align-items: center;
    padding: 50px 20px;
}

.community-banner h1{
    margin: 180px;
    text-align: center;
    align-items: center;
    font-size: 60px;
    font-style: italic;
    font-weight: 100;
}

/* Descripción de la Comunidad */
.community-description p {
    text-align: center;
    max-width: 800px;
    margin: 20px auto;
    font-size: 18px;
}

/* Cajas de Características */
.community-features .feature-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 15px;
}


.community-features h2{
    font-size: 45px;
    color: #000;
    font-style: italic;
    margin-left: 25px;
}

.community-features p{
    font-size: 18px;
    text-align: justify;
    margin-right: 25px;
    margin-left: 25px;
}

.yellow-background {
    background-color: #ffdd00;  /* Fondo amarillo para el primer banner */
}

.feature-box img {
    width: 50%;
}

.feature-text {
    width: 45%;
}
.community-join{
    background-image: url('FotosPagina/PbMAjX1.gif');
    height: 600px;
    align-items: center;
}

.community-join h2{
    padding-top: 80px;
    text-align: center;
    color: white;
    font-size: 36px;
    font-style: italic;
}

.community-join h3{
    color: yellow;
    text-align: center;
    font-style: italic;
}

/* Formulario de Registro */
.community-join form {
    text-align: center;
    max-width: 500px;
    margin: 50px auto;
    
}

.community-join input[type="text"],
.community-join input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.community-join .submit-btn {
    border: 2px solid grey;
    color: grey;
    background: none;
    padding: 10px 20px;
    cursor: pointer;
}

.community-join .submit-btn:hover {
    background-color: grey;
    color: white;
}

/*estilos movil */
/*index movil*/






